.App {
  background-image: url("./assets/img/background.png"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bottom-container{
  position: absolute;
  bottom: -3px;
  width: 100vw;
  background-image: linear-gradient(to right,#E28431, #E99C39,  #E28431);
}